<a href=" <%= comment_url(comment) %>"><%= comment.content%> </a>

<% @all_comments.where(parent_comment_id: comment.id).each do |comment2| %>
      <ul>
        <li>    
            <%= render 'shared/comment', comment: comment2, all_comments: @all_comments %>
        </li>
      </ul>
  <% end %>